<div class="entire-div">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../assets/Images/slide-1.jpeg" class="d-block w-100" alt="...">
                <div class="carousel-caption" style = "width:350px;word-wrap:break-word;overflow: hidden;height: 350px;text-align: left;font-size: 10px;">
                    <h1 style="background-color: yellow; display: inline-block; padding: 5px;">30% OFF</h1>
                    <h1>When Buying Parts <br>
                        With Installation</h1>
                    <p style="font-size: 16px;padding: 10px;">Installation of parts in the service of our partner</p>
                    <button class="btn btn-success" >Shop Now</button>
                </div>
            </div>
        </div>
    </div>

    <div style="margin-top: 20px;">
        <div class="flex-container">
            <div *ngFor="let image of accessories | slice:0:(accessories.length/2)"
                style="border-style: ridge;border-bottom: none;border-right: none;padding:0px;width:146px;">
                <img [src]="image.data" alt="{{ image.name }}" style="width: 123px;height:80px;">
                <h5 style="font-size: 13px;">{{ image.name }}</h5>
            </div>
        </div>
        <div>
        </div>
        <div class="flex-container">
            <div *ngFor="let image of accessories | slice:(accessories.length/2):accessories.length"
                style="border-style: ridge;border-right: none;width:146px;">
                <img [src]="image.data" alt="{{ image.name }}" style="width: 123px;height:80px;">
                <h5 style="font-size: 13px;">{{ image.name }}</h5>
            </div>
        </div>
    </div>
    <div>

    </div>

    <div class="category-container" style="margin-top: 20px;margin-bottom: -20px;">
        <h5 style="font-weight: bold;">Featured Products</h5>
        <ul class="list">
            <li style="color: white;background-color: black;width: 30px;text-align: center;">All</li>
            <li>Power Tools</li>
            <li>Hand Tools</li>
            <li>Plumbing</li>
        </ul>
    </div>
    <hr>

    <div style="margin-top: 20px;">
        <div class="product-list">
            <div class="product-card" *ngFor="let items of product | productCategory: 'Featured Products'"
                style="margin-right: 15px;margin-bottom: 15px;height: 330px;">
                <img [src]="items.data" alt="Product Image">
                <div class="product-details">
                    <h6 class="product-title" style="width:180px;word-wrap:break-word;overflow: hidden;height: 35px;">
                        {{items.name}}</h6>
                    <div class="rating">
                        <span *ngFor="let star of getStars(items.rate)">
                            <ng-container *ngIf="star; else emptyStar">&#9733;</ng-container>
                            <ng-template #emptyStar>&#9734;</ng-template>
                        </span>
                    </div>

                    <div class="cart">
                        <h4>{{items.cost | currency}}</h4>
                        <i class="fa fa-shopping-cart" style="font-size:25px;color: darkgray;"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-6" *ngFor="let item of advertisement; let i = index">
                <div *ngIf="i % 2 == 0" class="image-container">
                    <h3 [ngStyle]="getbgcolor(item.is_price_tag)">{{item.name}}</h3>
                    <p>{{item.slogan}}</p>
                    <button class="btn btn-danger" >Shop Now</button>
                    <img [src]="item.data" alt="{{ item.name }}" style="width: 100%;height:80%;">
                    
                </div>
                <div *ngIf="i % 2 != 0" class="image-container">
                    <h3 [ngStyle]="getbgcolor(item.is_price_tag)">{{item.name}}</h3>
                    <p>{{item.slogan}}</p>
                    <button class="btn btn-danger" >Shop Now</button>
                    <img [src]="item.data" alt="{{ item.name }}" style="width: 100%;height:80%;">
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-sm-4">
                <div class="" style="margin-top: 20px;">
                    <h5 style="font-weight: bold;border-bottom: 1px ridge #cfcbcb;padding-bottom: 10px;width: 360px;">
                        Top Rated Products</h5>
                    <div class="product-card-2" *ngFor="let items of product | productCategory: 'Top Rated Products'"
                        style="margin-right: 15px;margin-bottom: 15px;height: 110px;">
                        <img [src]="items.data" alt="Product Image" style="width: 100px;float: left;padding: 10px;">
                        <div class="product-details">
                            <div style="width:230px;word-wrap:break-word;overflow: hidden;height: 60px;">
                                <h6 class="product-title">
                                    {{items.name}}</h6>

                                <div class="rating">
                                    <span *ngFor="let star of getStars(items.rate)">
                                        <ng-container *ngIf="star; else emptyStar">&#9733;</ng-container>
                                        <ng-template #emptyStar>&#9734;</ng-template>
                                    </span>
                                </div>
                            </div>
                            <div class="cart" style="padding: 5px;">
                                <h4>{{items.cost | currency}}</h4>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-sm-4">
                <div class="" style="margin-top: 20px;">
                    <h5 style="font-weight: bold;border-bottom: 1px ridge #cfcbcb;padding-bottom: 10px;width: 360px;">
                        Special Offers</h5>
                    <div class="product-card-2" *ngFor="let items of product | productCategory: 'Special Offers'"
                        style="margin-right: 15px;margin-bottom: 15px;height: 110px;">
                        <img [src]="items.data" alt="Product Image" style="width: 100px;float: left;padding: 10px;">
                        <div class="product-details">
                            <div style="width:230px;word-wrap:break-word;overflow: hidden;height: 60px;">
                                <h6 class="product-title">
                                    {{items.name}}</h6>

                                <div class="rating">
                                    <span *ngFor="let star of getStars(items.rate)">
                                        <ng-container *ngIf="star; else emptyStar">&#9733;</ng-container>
                                        <ng-template #emptyStar>&#9734;</ng-template>
                                    </span>
                                </div>
                            </div>
                            <div class="cart" style="padding: 5px;">
                                <h4>{{items.cost | currency}}</h4>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <div class="col-sm-4">
                <div class="" style="margin-top: 20px;">
                    <h5 style="font-weight: bold;border-bottom: 1px ridge #cfcbcb;padding-bottom: 10px;width: 360px;">
                        Best Sellers</h5>
                    <div class="product-card-2" *ngFor="let items of product | productCategory: 'Best Sellers'"
                        style="margin-right: 15px;margin-bottom: 15px;height: 110px;">
                        <img [src]="items.data" alt="Product Image" style="width: 100px;float: left;padding: 10px;">
                        <div class="product-details">
                            <div style="width:230px;word-wrap:break-word;overflow: hidden;height: 60px;">
                                <h6 class="product-title">
                                    {{items.name}}</h6>

                                <div class="rating">
                                    <span *ngFor="let star of getStars(items.rate)">
                                        <ng-container *ngIf="star; else emptyStar">&#9733;</ng-container>
                                        <ng-template #emptyStar>&#9734;</ng-template>
                                    </span>
                                </div>
                            </div>
                            <div class="cart" style="padding: 5px;">
                                <h4>{{items.cost | currency}}</h4>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <div class="row">
            <div class="col-sm-3">
                <img src="../../assets/Images/free-delivery.svg" alt="Product Image"
                    style="width: 60px;float: left;padding: 7px;">
                <h5 style="font-size: 15px;">Free Shipping</h5>
                <p>For Orders from $50</p>
            </div>
            <div class="col-sm-3">
                <img src="../../assets/Images/24-hours.svg" alt="Product Image"
                    style="width: 60px;float: left;padding: 7px;">
                <h5 style="font-size: 15px;">Support 24/7</h5>
                <p>Call us anytime</p>
            </div>
            <div class="col-sm-3">
                <img src="../../assets/Images/payment-security.svg" alt="Product Image"
                    style="width: 60px;float: left;padding: 7px;">
                <h5 style="font-size: 15px;">100% Safety</h5>
                <p>Only Secure Payments</p>
            </div>
            <div class="col-sm-3">
                <img src="../../assets/Images/tag.svg" alt="Product Image"
                    style="width: 60px;float: left;padding: 7px;">
                <h5 style="font-size: 15px;">Hot Offers</h5>
                <p>Discounts upto 90%</p>
            </div>
        </div>
    </div><br>
</div>